<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% render_mode %}
  {% development %}
  <link href="/css/main.css" type="text/css" rel="stylesheet">
  {% production %}
  <link href="/css/main.min.css" type="text/css" rel="stylesheet">
  {% endrender_mode %}

  <link href="//get.pictos.cc/fonts/1369/1" rel="stylesheet" type="text/css">
  {% raw %}
  <script type="text/handlebars" id="session-preview-partial">
    {{#withSpeaker}}
    <a class="navigation-button" href="/sessions/{{ id }}">
        <img class="item-image" alt="{{ firstSpeakerName this }}" src="{{ firstSpeakerPhotoUrl this }}">
        <h2 class="title">{{ name }}</h2>
        <small><em>{{ allSpeakersNames this }}</em></small>
        <small>{{ formattedTime this }}</small>
    </a>
    {{/withSpeaker}}
    {{#withoutSpeaker}}
      <h2 class="title">{{ name }}</h2>
      <small>{{ formattedTime this }}</small>
    {{/withoutSpeaker}}
  </script>
  <script type="text/handlebars" id="sessions-list-template">
    <ol class="centered-content">
      {{#each this}}
      <li class="article-with-image group">
        {{> sessionPreview }}
      </li>
      {{/each}}
    </ol>
  </script>

  <script type="text/handlebars" id="tracks-template">
    <ul>
      {{#each this}}
      <li class="two-column-list-item">
        <a href="/tracks/{{ id }}" class="track-navigation-item navigation-button">
          <strong class="pictos" data-icon="{{ iconName name }}">{{ name }}</strong>
        </a>
      </li>
      {{/each}}
    </ul>
  </script>

  <script type="text/handlebars" id="all-speaker-photos-partial">
      {{#speakers}}
      {{> speakerPhoto}}
      {{/speakers}}
    </ul>
  </script>

  <script type="text/handlebars" id="speaker-photo-partial">
      <img src="{{ photoUrl }}" width="50" height="50" alt="{{ name }}">
  </script>

  <script type="text/handlebars" id="schedule-template">
    <ol>
    {{#each this}}
    <li class="two-column-list-item">
      <a href="/schedule/{{ id }}" class="navigation-button">{{ startTime }} &ndash; <br>{{ endTime }}</a>
    </li>
    {{/each}}
    </ol>
  </script>

  <script type="text/handlebars" id="session-template">
    <article class="article-with-image centered-content">
      <header class="group">
        <p class="item-image">{{> allSpeakerPhotos }}</p>
        <small><em>{{ allSpeakersNames this }}</em></small>
        <small>{{ formattedTime this }}</small>
        <small class="pictos" data-icon="{{ iconNameFromSession this }}" data-icon-caption="{{ trackName this }}"></small>
      </header>
      <h2 class="title">{{ name }}</h2>
      <h3 class="section-title">Abstract</h3>
      <p class="article-body">{{ abstract }}</p>
      <h3 class="section-title">Bio</h3>
      {{#speakers}}
        <p class="article-body">{{ bio }}</p>
      {{/speakers}}
    </article>
    <aside class="favorite">
      <button data-session-id="{{ id }}" class="favorite-button pictos">f</button>
    </aside>
    <aside class="centered-content">
    {{#whenFavorite this}}
      <h2 class="list-heading">You may also be interested in:</h2>
      <ul>
      {{#similarSessions this}}
        <li class="article-with-image group">
        {{> sessionPreview }}
        </li>
      {{/similarSessions}}
    {{/whenFavorite}}
    </aside>
  </script>

  <script type="text/handlebars" id="favorites-list-template">
    {{#nonEmptyList}}
      {{> sessionsList }}
    {{/nonEmptyList}}
    {{#emptyList}}
    <h2>Never again forget which sessions you want to attend!</h2>
    <p class="blank-slate"><a href="/tracks" class="navigation-button">Browse the talks</a> or <a href="/schedule" class="navigation-button">look at the schedule</a>. <strong>Favorite</strong> the talks you want to attend. <strong>You will find them here</strong> when you need to remember what you were most interested in.</p>
    {{/emptyList}}
  </script>

  <script type="text/handlebars" id="home-template">
    <img class="stir-trek-logo" src="/images/logo.png">
    <section class="home-content">
      <strong>View sessions:</strong>
      <p><small>by</small> <a href="/tracks" class="navigation-button">track</a></p>
      <p><small>by</small> <a href="/schedule" class="navigation-button">time</a></p>
      <p><small>my</small> <a href="/favorites" class="navigation-button">favorites</a></p>
    </section>
  </script>
  {% endraw %}
</head>
<body class="page-wrapper">
<header>
  <h1>StirTrek Scheduler</h1>
</header>
<nav class="primary-navigation">
  <ul>
    <li class="navigation-item">
      <a class="navigation-button" href="/home">Home</a>
    </li>
    <li class="navigation-item">
      <a class="navigation-button" href="/tracks">Tracks</a>
    </li>
    <li class="navigation-item">
      <a class="navigation-button" href="/schedule">Schedule</a>
    </li>
    <li class="navigation-item">
      <a class="navigation-button" href="/favorites">Favorites</a>
    </li>
  </ul>
</nav>
<section id="main-content" style="display:none;">
  <div class="container">
    <h1>Not found <span>:(</span></h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
  </div>
</section>
{% render_mode %}
{% development %}
<script language="javascript" src="/vendor/jquery.js"></script>
<script language="javascript" src="/vendor/handlebars.js"></script>
<script language="javascript" src="/vendor/underscore.js"></script>
<script language="javascript" src="/lib/app.js"></script>
<script language="javascript" src="/lib/bind-navigation.js"></script>
<script language="javascript" src="/lib/tracks-container.js"></script>
<script language="javascript" src="/lib/sessions-container.js"></script>
<script language="javascript" src="/lib/favoritable.js"></script>
<script language="javascript" src="/lib/routes.js"></script>
<script language="javascript" src="/models/model-loader.js"></script>
<script language="javascript" src="/models/track.js"></script>
<script language="javascript" src="/models/session.js"></script>
<script language="javascript" src="/models/time-slot.js"></script>
<script language="javascript" src="/models/speaker.js"></script>
{% production %}
<script language="javascript" src="/js/vendor.min.js"></script>
<script language="javascript" src="/js/app.min.js"></script>
{% endrender_mode %}
<script language="javascript">
  $(App.init);
</script>
</body>
</html>
